
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>History</title>
</head>
<body>
    <div ng-app="historyModule" style="margin:5px 5px 5px 5px">
        <div ng-controller="historyController as vm" class="container" ng-init="LoadHistory()">
            <div ng-repeat="item in vm.historyItems" class="panel-group padding-top">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <a href="#">№ 90212420</a>
                            </div>
                            <div class="col-md-2">
                                25.10.2017 23:25
                            </div>
                            <div class="col-md-1">
                                <img src="{{item.ImageURL}}" class="img-responsive" style="width:100%" alt="Image">
                            </div>
                            <div class="col-md-2 col-md-offset-3">
                                {{item.Price}}
                            </div>
                            <div class="col-md-2">
                                Status
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="pagination">
                <li ng-class="{disabled:vm.pager.currentPage === 1}">
                    <a ng-click="vm.setPage(1, itemsPerPage)">First</a>
                </li>
                <li ng-class="{disabled:vm.pager.currentPage === 1}">
                    <a ng-click="vm.setPage(vm.pager.currentPage - 1, itemsPerPage)">Previous</a>
                </li>
                <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
                    <a ng-click="vm.setPage(page, itemsPerPage)">{{page}}</a>
                </li>
                <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                    <a ng-click="vm.setPage(vm.pager.currentPage + 1, itemsPerPage)">Next</a>
                </li>
                <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
                    <a ng-click="vm.setPage(vm.pager.totalPages, itemsPerPage)">Last</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/lodash.min.js"></script>
<script src="~/Scripts/HistoryController.js"></script>